@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
--white: hsl(0, 0%, 100%);
--black: hsl(0, 0%, 0%);
--dark-gray: hsl(0, 0%, 55%);
--very-dark-dray: hsl(0, 0%, 41%);
}

/* reset */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

picture,
img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: .938rem;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    
}

li {
    list-style: none;
}
/* end reset */

/* global style */
h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--black);
    margin-top: 2rem;
}
p, .btn {
    font-family: 'Alata', sans-serif;
}

.effect {
    position: relative;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 1.4rem;
    display: inline-block;
    transition: 0.6s cubic-bezier(0.37, 0, 0.63, 1);
}
.effect:hover:before {
    position: absolute;
    content: '';
    height: .18rem;
    width: 50%;
    top: 120%;
    left: 25%;
    right: 25%;
    background: var(--white);
}
.social-icons .effect {
    font-size: 1.8rem;
}
.social-icons .effect:hover:before {
    height: .1rem;
    width: 100%;
    top: 120%;
    left: 0%;
    height: .2rem;
}
/* end global style */

/* header section */
#header {
    position: relative;
    z-index: 1000;
    width: 100vw;
    height: auto;
    background-image: url(./img/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo {
    z-index: 1000;
}
.logo img {
    width: 9.375rem;
}
#header .header {
    background-color: none;
    transition: .3s ease background-color;
}
#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1420px;
    padding: 1rem 2rem;
}
#header .nav-list .nav-item {
    position: absolute;
    background-color: var(--black);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: -5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    z-index: 1;
    transition: .5s ease left;
    margin-top: 2rem;
}
#header .nav-list ul.active {
    left: 0%;
}
/* #header .nav-list ul a {
    position: relative;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--white);
    margin: 1rem;
    display: inline-block;
    transition: 0.6s cubic-bezier(0.37, 0, 0.63, 1);
} */
/* .effect:hover:before {
    position: absolute;
    content: '';
    height: .1rem;
    width: 50%;
    top: 120%;
    left: 25%;
    right: 25%;
    background: var(--white);
} */
#header .hamburger {
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.7);
}
#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
}
#header .hamburger .bar {
    height: 3px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after {
    top: 8px;
}
#header .hamburger .bar::before {
    bottom: 8px;
}
#header .hamburger.active .bar::before {
    bottom: 0;
}
#header .hamburger.active .bar::after {
    top: 0;
}
.heading-text {
    position: absolute;
    top: 30%;
    right: 0rem;
    left: -2.2rem;
    width: min-content;
    padding: 4rem;
}
.heading-text h1 {
    border: 2px solid white;
    padding: 1.5rem;
    font-size: 2.4rem;
    color: var(--white);
}
/*end header section */

/* leader section */
.vr-card {
    padding: 2rem 1.5rem;
    margin-top: 3rem;
}
.vr-card p {
    text-align: center;
    font-size: 1rem;
    color: var(--very-dark-dray);
    line-height: 1.5;
    padding: 1.2rem 1rem;
}
/* end vr section */

/* gallery section */
.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 0 1.5rem; */
}
.gallery-all {
    margin-top: 3rem;
}
.card {
    position: relative;
    margin-bottom: 1rem; 
}
.card::before {
    position: absolute;
    content: "";
    /* TODO add hero img effect */
    background-image: linear-gradient(to left, #00000000, #01010100, #030302, #040404, #050505);
    opacity: .1;
    left: 0;
    top: 0;
    bottom: 4px;
    right: 0;
    opacity: .4;
    cursor: pointer;  
}
.card:hover::before {
    background-image: unset;
    background-color: white;
    opacity: 0.6;
    /* transition: 0.5s cubic-bezier(0.12, 0, 0.39, 0); */
    transition: 0.5s cubic-bezier(0.2, 1, 0.89, 1);
}
.card:hover h3 {
    color: var(--black);
}
.card h3 {
    position: absolute;
    content: '';
    top: 32%;
    width: 40%;
    margin-left: 1rem;
    color: var(--white);
    font-size: 1.5rem;
}
.btn {
    padding: .6rem 3rem;
    background-color: transparent;
    border: 2px solid var(--very-dark-dray);
    text-transform: uppercase;
    margin-top: 1.5rem;
    color: var(--black);
    font-size: 1.2rem;
    letter-spacing: .3rem;
    /* transition: .6s cubic-bezier(0.12, 0, 0.39, 0); */
	transition: 0.5s cubic-bezier(0.37, 0, 0.63, 1);
}
.top-content .btn {
    display: none;
}
.btn:hover {
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--black);
}
/* end main section */

/* footer section */
.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--black);
    margin-top: 4rem;
    padding: 2rem;
}
.useful-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0;
}
.useful-links a {
    text-transform: capitalize;
}
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}
.copyright {
    color: var(--white);
}
 .attribution {
     font-size: 11px;
     text-align: center;
     background-color: var(--black);
     color: var(--dark-gray);
 }
 .attribution a {
     color: var(--white);
 }
/* end footer section */

/* media query */
@media only  screen and (min-width: 1020px) {
    #header {
    background-image: url(./img/desktop/image-hero.jpg);
    }
    #header .hamburger {
        display: none;
    } 
    #header .nav-bar {
    padding: 1rem 6rem;
    }
    #header .nav-list .nav-item {
    position: initial;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    gap: 2.5rem;
    background-color: transparent;
    }
    .effect {
    font-family: 'Alata', sans-serif;
    text-transform: capitalize;
    }
    .heading-text {
    top: 25%;
    bottom: 0;
    right: 0;
    left: 2rem;
    width: 750px;
    padding: 4rem;
    }
    .heading-text h1 {
        border: 2px solid white;
        padding: 1.5rem;
        font-size: 4.5rem;
        color: var(--white);
    }
    .main-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;
    }
    .vr-card {
        max-width: 70rem;
        /* max-width: 90%; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .vr-card picture img {
        flex: 1;
    }
    .leader-desc {
        display: flex;
        flex-direction: column;
         flex: 1;
        margin-top: 7rem;
        margin-left: -9rem;
        margin-bottom: -8rem;
        background-color: var(--white);
        padding: 4.2rem 4rem;   
        gap: 1rem;    
    }
    .leader-desc h2 {
        text-align: left;
    }
    .leader-desc p {
        text-align: left;
        padding: 0;
    }
    .gallery-container {
        max-width: 72rem;
        /* max-width: 90%; */
    }
    .btn {
        display: none;
    }
    .top-content .btn {
        display: flex;
    }
    .top-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5rem;
    }
    .gallery {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;  
    }
    .card h3 {
        position: absolute;
        content: '';
        top: 77%;
        width: 50%;
        margin-left: 2.5rem;
        color: var(--white);
        font-size: 1.5rem;
    }
    .footer-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 3rem 4rem;
    }
    .footer-container .left ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 2rem;        
    }
    .footer-container .right .social-icons {
        justify-content: right;
    }
}
/* end  media query */